Attribute Information
1) id: unique identifier
2) gender: "Male", "Female" or "Other"
3) age: age of the patient
4) hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension
5) heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease
6) ever_married: "No" or "Yes"
7) work_type: "children", "Govt_jov", "Never_worked", "Private" or "Self-employed"
8) Residence_type: "Rural" or "Urban"
9) avg_glucose_level: average glucose level in blood
10) bmi: body mass index
11) smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"*
12) stroke: 1 if the patient had a stroke or 0 if not
*Note: "Unknown" in smoking_status means that the information is unavailable for this patient

## Import module

In [ ]:
import pandas as pd

## tampilkan dataset

In [ ]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df.head(10)

## drop kolom 'id'

In [ ]:
df.drop(columns='id',inplace=True)
df.head(10)

### melihat dimensi dataset

In [ ]:
df.shape

### menampilkan kolom-kolom pada dataset

In [ ]:
df.columns

### menampilkan info dari dataset

In [ ]:
df.info()

### tipe data yang terdapat pada dataset

In [ ]:
df.dtypes

### merubah tipe data **age** menjadi int

In [ ]:
df['age'] = df['age'].astype('int64')

In [ ]:
df.dtypes

In [ ]:
df.head()

### menampilkan statistik deskriptif

In [ ]:
df.describe()

### cek missing value

In [ ]:
df.isna().any()

In [ ]:
df.isna().sum()

### drop missing value

In [ ]:
df.dropna(axis=0,inplace=True)
df.shape

In [ ]:
df

In [ ]:
df.describe()

### menampilkan korelasi dataset

In [ ]:
df.corr()

### avg_glucose_level tertinggi

In [ ]:
df['avg_glucose_level'].max()

### membuat variabel untuk menampung avg_glucose_level setiap age

# visualisasi data dengan matplotlib dan seaborn

### import matplotlib dan seaborn

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### heatmap

In [ ]:
sns.heatmap(df.corr())